:focus {
  outline-color: #dcb15d;
}

::selection {
  background: #dcb15d;
}

body {
  font-family: 'Alegreya Sans SC', sans-serif;
  background-image: repeating-radial-gradient(
      circle at center center,
      rgba(102, 184, 13, 0.25) 0px,
      rgba(102, 184, 13, 0.25) 3px,
      transparent 3px,
      transparent 10px,
      rgba(101, 156, 106, 0.25) 10px,
      rgba(101, 156, 106, 0.25) 17px,
      transparent 17px,
      transparent 21px,
      rgba(101, 163, 83, 0.25) 21px,
      rgba(101, 163, 83, 0.25) 22px
    ),
    repeating-linear-gradient(
      67.5deg,
      rgb(0, 0, 0) 0px,
      rgb(0, 0, 0) 13px,
      rgb(0, 0, 0) 13px,
      rgb(0, 0, 0) 16px,
      rgb(0, 0, 0) 16px,
      rgb(0, 0, 0) 30px,
      rgb(0, 0, 0) 30px,
      rgb(0, 0, 0) 31px
    );
  background-size: 72px 72px;
}

header {
  background-color: black;
  color: antiquewhite;
  width: 250px;
  padding: 1vw;
  margin: 1vw 1vw 20px 1vw;
  font-size: 24px;
  border: 2px dashed #a6ae9c;
  outline: 4px solid black;
  box-shadow: 9px 9px #dcb15d;
}

main {
  display: flex;
  flex-direction: column;
  width: 50vw;
  min-width: 340px;
  min-height: 70vh;
  margin: auto;
  border: 2px dashed #a6ae9c;
  outline: 4px solid black;
  padding: 2rem;
  background-color: black;
  color: antiquewhite;
  box-shadow: 7px 7px #dcb15d;
}

.pre-parse {
  display: flex;
}

textarea {
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: hsl(48, 47%, 85%);
  resize: none;
  font-size: 1rem;
  height: 10vh;
  width: 85%;
}

.parsebutton {
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: #dcb15d;
  font-size: 1rem;
  color: black;
  border: 2px dashed #a6ae9c;
  width: 15%;
}

.post-parse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  padding: 2rem;
}

.bottom-top-post-parse {
  display: flex;
  flex-direction: column;
  align-items: center;
}

pre {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 2rem;
  white-space: pre-wrap;
  max-width: 50vw;
}

.keyword {
  cursor: pointer;
  margin: 0 5px 0 5px;
  border: 1.5px dashed #dcb15d;
}

.noun {
  color: #4c7025;
}

.verb {
  color: #ad652b;
}

.adjective,
.adverb {
  color: #467f8e;
}

.group {
  border-bottom: 2px solid #dcb15d;
}

select {
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: hsl(48, 47%, 85%);
}

.group-button {
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: hsl(48, 47%, 85%);
  color: black;
  padding: 5px;
  border: 1.5px dashed #a6ae9c;
}

.instructions {
  font-size: 1rem;
}
