.keyword {
  border: 1px solid blue;
  cursor: pointer;
}

.noun {
  color: green;
}

.verb {
  color: red;
}

.adjective,
.adverb {
  color: orange;
}

.group {
  background-color: pink;
}

textarea {
  resize: none;
}
